# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Environment
.env
*.env

# VSCode / IDE
.vscode/
.idea/

# Python
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db
